# DataFrame basics
## Getting started and checking your pandas setup
Difficulty: easy

1. Import pandas under the name pd.

In [ ]:
import pandas as pd

2. Print the version of pandas that has been imported.

In [ ]:
pd.__version__

3. Print out all the version information of the libraries that are required by the pandas library.

In [ ]:
pd.show_versions()

# DataFrame basics
## A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames
Difficulty: easy

Note: remember to import numpy using:

In [ ]:
import numpy as np

Consider the following Python dictionary data and Python list labels:

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

4. Create a DataFrame df from this dictionary data which has the index labels.

In [ ]:
df = pd.DataFrame(data, index=labels)

5. Display a summary of the basic information about this DataFrame and its data.

In [ ]:
df.info(), df.describe()

6. Return the first 3 rows of the DataFrame df.

In [ ]:
df.iloc[:3, :]

7. Select just the 'animal' and 'age' columns from the DataFrame df.

In [ ]:
df.loc[:,['animal', 'age']]

8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [ ]:
df.loc[df.index[[2,3,7]], ['animal', 'age']]

9. Select only the rows where the number of visits is greater than 3.

In [ ]:
df[df.visits > 3]

10. Select the rows where the age is missing, i.e. is NaN.

In [ ]:
df[df['age'].isnull()]

11. Select the rows where the animal is a cat and the age is less than 3.

In [ ]:
df[(df.animal == 'cat') & (df.age < 3)]

12. Select the rows the age is between 2 and 4 (inclusive).

In [ ]:
df[df.age.between(2, 4)]

13. Change the age in row 'f' to 1.5.

In [ ]:
df.loc['f', 'age'] = 1.5

14. Calculate the sum of all visits (the total number of visits).

In [ ]:
df.visits.sum()

15. Calculate the mean age for each different animal in df.

In [ ]:
df.groupby('animal')['age'].mean()

16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [ ]:
df.loc['k'] = [8, 'apple', 'definitely', 4]
df.drop(labels='k', inplace=True)

17. Count the number of each type of animal in df.

In [ ]:
df['animal'].value_counts()

18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [ ]:
df.sort_values(['age', 'visits'], ascending=[False, True])

19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [ ]:
df.priority = df.priority.map({'no': False, 'yes': True})

20. In the 'animal' column, change the 'snake' entries to 'python'.

In [ ]:
df.animal.replace('snake', 'python')
# df.loc[df['animal'] == 'snake', 'animal'] = 'python'

21. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [ ]:
df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')

# DataFrames: beyond the basics
## Slightly trickier: you may need to combine two or more methods to get the right answer
Difficulty: medium

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

22. You have a DataFrame df with a column 'A' of integers. For example:

In [ ]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

How do you filter out rows which contain the same integer as the row immediately above?

In [ ]:
df.loc[df.A.diff().eq(0) == False]

23. Given a DataFrame of numeric values, say

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

how do you subtract the row mean from each element in the row?

In [ ]:
df.sub(df.mean(axis=1), axis=0)

24. Suppose you have DataFrame with 10 columns of real numbers, for example:

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

Which column of numbers has the smallest sum? (Find that column's label.)

In [ ]:
# df.loc[:,df.sum().sort_values().head(1).index]
df.sum().idxmin()

25. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [ ]:
df.drop_duplicates(inplace=True)
df.shape[0]

The next three puzzles are slightly harder...

26. You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the column which contains the third NaN value.

(You should return a Series of column labels.)

27. A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example:

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

For each group, find the sum of the three greatest values.

In [ ]:
df.groupby('grps').agg({'vals' : lambda x: x.nlargest(3).sum()})
# df.groupby('grps')['vals'].nlargest(3).sum(level=0)

28. A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. (0, 10], (10, 20], ...), calculate the sum of the corresponding values in column 'B'.

# DataFrames: harder problems
## These might require a bit of thinking outside the box...
...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit for loops).

Difficulty: hard

29. Consider a DataFrame df where there is an integer column 'X':

In [ ]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.

# Cleaning Data
## Making a DataFrame easier to work with
Difficulty: easy/medium

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

In [ ]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

38. Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

In [ ]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)

39. The From_To column would be better as two separate columns! Split each string on the underscore delimiter _ to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

In [ ]:
df_temp = df.copy()
df_temp['From'], df_temp['To'] = df['From_To'].str.split('_').str

40. Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

In [ ]:
df_temp[['From', 'To']] = df_temp[['From', 'To']].apply(lambda x: x.str.lower())
df_temp[['From', 'To']] = df_temp[['From', 'To']].apply(lambda x: x.str.title())

41. Delete the From_To column from df and attach the temporary DataFrame from the previous questions.

In [ ]:
df.drop(columns='From_To', inplace=True)
df = df.merge(df_temp[['From', 'To']], left_index=True, right_index=True)

42. In the Airline column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. '(British Airways. )' should become 'British Airways'.

In [ ]:
df['Airline'] = df['Airline'].map( lambda x: (''.join(i for i in x if i.isalpha() or i.isspace())).strip() )

43. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named delays, rename the columns delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df with delays.

In [ ]:
delays = df['RecentDelays'].apply(pd.Series)
delays = delays.rename(columns = lambda x : 'delay_' + str(x+1))

df.drop(columns='RecentDelays', inplace=True)
df = pd.concat([df, delays], axis=1)
df

The DataFrame should look much better now.

## Using MultiIndexes
### Go beyond flat DataFrames with additional index levels
Difficulty: medium

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using multiple levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

44. Given the lists letters = ['A', 'B', 'C'] and numbers = list(range(10)), construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series s.

In [ ]:
letters = ['A', 'B', 'C']
numbers = list(range(10))

In [ ]:
index = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(data=np.random.randn(len(letters)* len(numbers)), index=index)

In [ ]:
s.index.is_lexsorted()

46. Select the labels 1, 3 and 6 from the second level of the MultiIndexed Series.

In [ ]:
s.loc[:, [1,3,6]]

47. Slice the Series s; slice up to label 'B' for the first level and from label 5 onwards for the second level.

In [ ]:
s.loc[:'B', 5:]

48. Sum the values in s for each label in the first level (you should have Series giving you a total for labels A, B and C).

In [ ]:
s.sum(level=0)

49. Suppose that sum() (and other methods) did not accept a level keyword argument. How else could you perform the equivalent of s.sum(level=1)?

In [ ]:
s.unstack().sum(axis=1)

50. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

In [ ]:
new_s = s.swaplevel(0,1)
new_s.index.is_lexsorted()

In [ ]:
new_s = new_s.sort_index()
new_s.index.is_lexsorted()

## Plotting
### Visualize trends and patterns in data

In [ ]:
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })

ax = df.plot.bar("month", "revenue", color = "green")
df.plot.line("month", "advertising", secondary_y = True, ax = ax)
ax.set_xlim((-1,12))